node_modules/

build/
coverage/
custom_types/
dist/
docs/
examples/
generated/
proto/
types/

*.d.ts

jest.config.[jt]s

src
types

packages/arch3-proto/src/codegen
packages/arch3-proto/module
packages/arch3-proto/main