# Rename this file to local-node.env and fill in the values as needed
VALIDATOR_MNEMONIC="episode filter soldier glue decide hero upon movie above aim high mercy cat boil replace coyote country blue artwork gold fury orchard horn duty"
GENESIS_ACCOUNTS="archway1rev2n7edzn6l84k37dhnhs0m9wqlveezvwjj38,"
